@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    margin: 0px;
    padding: 0px;
    background-color: #F3F4F9;
    font-family: 'Roboto';
    color: #2980B9;
  }

.spine-generic-banner {
    background-color:#2980B9;
    color: white;
    padding: 35px;
    padding-left: 10px;
    padding-top: 10px;
  }

.div-logo{
    display: inline-block;
    float: left;
    margin-top: 5px;
}

.logo{
    height: 85px;
    padding: 5px;
    margin-top: 0px;
    border-radius: 8px;
}

.h2-title, .h2-title-mobile{
    font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
    display: inline-block;
    font-weight: 800;
    font-size: 20px;
    margin-top: 40px;
    padding-left: 10px;
  }

  .h2-title-mobile{
    display: none;
  }

h6{
    font-family:"Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.bg-white{
    background-color: white;
    padding: 24px 32px;
    height: 400px;
    width: 400px;
  }
  
.app-body{
    margin-left: 4%;
}
  
.card{
    padding:48px 24px 48px 24px;
    margin-left: 0%;
    margin: auto;
    float: left;
}
  
.card-right{
    padding:48px 24px 48px 24px;
    margin-top: 0%;
    margin-left: 4%;
    margin: auto;
    float: right;
}
  
.padding-top-bot{
    padding-top: 12px;
    padding-bottom: 18px;
}
  
.upload{
    width: 100%;
    line-height: 60px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
}
